<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="preferences_general" xml:lang="fr">
  <info>
    <title type="sort">1. Général</title>
    <title type="link">Général</title>
    <desc>Configurer les comportements fondamentaux d’<app>Orca</app></desc>
    <link type="guide" xref="preferences#orca"/>
    <link type="next" xref="preferences_voice"/>
    <credit type="author">
      <name>Joanmarie Diggs</name>
      <email>joanied@gnome.org</email>
    </credit>
    <license>
      <p>Creative Commons Paternité - Partage dans les Mêmes Conditions 3.0</p>
    </license>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Laurent Coudeur</mal:name>
      <mal:email>laurentc@iol.ie</mal:email>
      <mal:years>2011</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Bruno Brouard</mal:name>
      <mal:email>annoa.b@gmail.com</mal:email>
      <mal:years>2011-12</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Julien Hardelin</mal:name>
      <mal:email>jhardlin@orange.fr</mal:email>
      <mal:years>2011, 2013, 2015</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Mickael Albertus</mal:name>
      <mal:email>mickael.albertus@gmail.com</mal:email>
      <mal:years>2013</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Claude Paroz</mal:name>
      <mal:email>claude@2xlibre.net</mal:email>
      <mal:years>2016</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Charles Monzat</mal:name>
      <mal:email>charles.monzat@free.fr</mal:email>
      <mal:years>2020</mal:years>
    </mal:credit>
  </info>
  <title>Préférences générales</title>
  <section id="keyboardlayout">
    <info>
      <desc>Option de la boîte de dialogue des préférences qui permet de sélectionner l’agencement de clavier utilisé par <app>Orca</app> : ordinateur de bureau ou portable.</desc>
    </info>
    <title>Agencement de clavier</title>
    <p>Le groupement de boutons radio <gui>Agencement du clavier</gui> vous permet d’indiquer si vous utilisez un clavier d’ordinateur de bureau (c.-à-d. avec pavé numérique) ou un clavier de portable. L’agencement que vous choisissez détermine la <key>Touche de modification d’Orca</key> ainsi qu’un grand nombre de raccourcis clavier pour réaliser les commandes <app>Orca</app>.</p>
    <p>Valeur par défaut : <gui>Bureau</gui></p>
  </section>
  <section id="presenttooltips">
    <info>
      <desc>Option de la boîte de dialogue des préférences pour activer la prononciation des infobulles qui apparaissent lors du survol par la souris.</desc>
    </info>
    <title>Présentation des infobulles</title>
    <p>Si elle est cochée, cette option demande à <app>Orca</app> de présenter les informations des infobulles lorsqu’elles apparaissent quand le pointeur de la souris reste immobile au-dessus d’un élément. Des actions spécifiques pour forcer les infobulles à apparaître, comme l’appui sur <keyseq><key>Ctrl</key><key>F1</key></keyseq> lorsqu’un objet a le focus, provoquera toujours la présentation des infobulles, quel que soit le réglage de ce paramètre.</p>
    <p>Valeur par défaut : non cochée</p>
  </section>
  <section id="objectundermouse">
    <info>
      <desc>Option de la boîte de dialogue des préférences pour activer la présentation de l’objet survolé par la souris.</desc>
    </info>
    <title>Lire l’objet sous la souris</title>
    <p>Quand cette option est cochée, <app>Orca</app> présente les informations de l’élément survolé par le pointeur de la souris quand vous le déplacez sur l’écran, en utilisant la fonctionnalité <link xref="howto_mouse_review">Examen à la souris</link> d’<app>Orca</app>.</p>
    <p>Valeur par défaut : non cochée</p>
  </section>
  <section id="timeanddate">
    <info>
      <desc>Option de la boîte de dialogue des préférences pour personnaliser les formats de l’heure et de la date utilisés par <app>Orca</app>.</desc>
    </info>
    <title>Format de la date et de l’heure</title>
    <p>Les listes déroulantes <gui>Format de la date</gui> et <gui>Format de l’heure</gui> vous permettent de spécifier comment <app>Orca</app> prononce et affiche en braille l’heure et la date.</p>
    <p>Valeur par défaut : utilise le format de l’environnement linguistique du système pour chacun d’eux</p>
  </section>
  <section id="navigation_in_say_all">
    <info>
      <desc>Options de la boîte de dialogue des préférences pour l’activation du retour et de l’avance rapides et de la navigation par structure en mode tout lire.</desc>
    </info>
    <title>Navigation en mode tout lire</title>
    <p>La fonctionnalité tout lire d’<app>Orca</app> lit le contenu de documents depuis l’emplacement actuel jusqu’à la fin du document. Par défaut, l’appui sur une touche interrompt la présentation en mode tout lire. Cependant, si vous cochez la case <gui>Activer le retour et l’avance rapide en mode tout lire</gui>, les touches <key>Flèche haut</key> et <key>Flèche bas</key> peuvent être utilisées en mode tout lire pour se déplacer rapidement dans le document afin de réécouter quelque chose qui vient d’être lu ou pour sauter du texte sans intérêt sans devoir redémarrer le mode tout lire.</p>
    <p>Si vous lisez un document dans une application qui prend en charge la navigation par structure et que vous avez coché la case <gui>Activer la navigation par structure en mode tout lire</gui>, vous pouvez utiliser les commandes de navigation par structure disponibles d’une manière semblable : <key>H</key> ou <keyseq><key>Maj</key><key>H</key></keyseq> continue la lecture à partir de l’en-tête suivant ou précédent, <key>P</key> ou <keyseq><key>Maj</key><key>P</key></keyseq> continue la lecture à partir du paragraphe suivant ou précédent, <key>T</key> ou <keyseq><key>Maj</key><key>T</key></keyseq> continue la lecture à partir du tableau suivant ou précédent, et ainsi de suite.</p>
    <p>Valeur par défaut : non cochée</p>
  </section>
  <section id="say_all_announce_context">
    <title>Annoncer les informations contextuelles en mode tout lire</title>
    <p><app>Orca</app> peut fournir sur demande davantage d’informations à propos du contenu du document en cours de lecture, telles que les annonces du moment où vous entrez ou sortez d’un bloc de citation, d’une liste, d’un tableau ou d’un autre conteneur. Ces différentes annonces peuvent être configurées indépendamment les unes des autres par le moyen des cases à cocher suivantes :</p>
    <list>
      <item><p>Annoncer les blocs de citation dans Tout lire</p></item>
      <item><p>Annoncer les formulaires dans Tout lire</p></item>
      <item><p>Annoncer les points de repère dans Tout lire</p></item>
      <item><p>Annoncer les listes dans Tout lire</p></item>
      <item><p>Annoncer les panneaux dans Tout lire</p></item>
      <item><p>Annoncer les tableaux dans Tout lire</p></item>
    </list>
    <p>Valeur par défaut : cochée</p>
    <note style="note">
      <p>Il est aussi possible de configurer si <app>Orca</app> doit faire ces annonces durant la navigation. Vous trouverez des cases à cocher similaires sur la page <gui>Synthèse vocale</gui>. Pour plus d’informations, voir <link xref="preferences_speech#spoken_context">Contexte parlé</link>.</p>
    </note>
  </section>
  <section id="say_all_by">
   <info>
      <desc>Option de la boîte de dialogue des préférences pour personnaliser la présentation en mode tout lire d’<app>Orca</app>.</desc>
   </info>
   <title>Tout lire par</title>
   <p>La liste déroulante <gui>Tout lire par</gui> vous permet de spécifier si <app>Orca</app> lit une phrase à la fois ou une ligne à la fois quand une commande « Tout lire » est effectuée sur un document.</p>
    <p>Valeur par défaut : <gui>Phrase</gui></p>
  </section>
  <section id="profiles">
    <info>
      <desc>Options de la boîte de dialogue des préférences pour la gestion des paramètres des profils.</desc>
    </info>
    <title>Profils</title>
    <p>Le groupement des contrôles <gui>Profils</gui>, qui est affiché en bas de l’onglet <gui>Général</gui>, rend possible l’utilisation et la maintenance de plusieurs configurations.</p>
   <list>
      <item>
        <p>La liste déroulante <gui>Profil actif</gui> affiche le profil actuel et vous permet de sélectionner et de charger un autre profil.</p>
      </item>
      <item>
        <p>Quand vous cliquez sur le bouton <gui>Charger</gui>, <app>Orca</app> charge le profil indiqué dans la liste déroulante <gui>Profil actif</gui>.</p>
      </item>
      <item>
        <p>Le bouton <gui>Enregistrer sous</gui> vous permet d’enregistrer le jeu d’options actuellement configurées dans la boîte de dialogue Préférences dans un profil que vous nommerez.</p>
      </item>
      <item>
        <p>La liste déroulante <gui>Profil au démarrage</gui> vous permet de sélectionner le profil chargé automatiquement à chaque fois que vous lancez <app>Orca</app>.</p>
      </item>
    </list>
  </section>
  <section id="progress_bar_updates">
    <title>Mises à jour des barres de progression</title>
    <section id="progress_bar_updates_speak">
      <title>Lire les mises à jour</title>
      <p>Si la case <gui>Lire les mises à jour</gui> est cochée, <app>Orca</app> annonce périodiquement l’état des barres de progression.</p>
      <p>Valeur par défaut : cochée</p>
    </section>
    <section id="progress_bar_updates_braille">
      <title>Suivi des mises à jour en braille</title>
      <p>Si la case <gui>Suivi des mises à jour en braille</gui> est cochée, <app>Orca</app> affiche périodiquement l’état des barres de progression sur la plage braille.</p>
      <p>Valeur par défaut : non cochée</p>
    </section>
    <section id="progress_bar_updates_beep">
      <title>Suivi des mises à jour par bip</title>
      <p>Si la case <gui>Suivi des mises à jour par bip</gui> est cochée, <app>Orca</app> émet périodiquement des bips sonores dont la tonalité s’élève au fur et à mesure de l’avancement des barres de progression.</p>
      <p>Valeur par défaut : non cochée</p>
    </section>
    <section id="progress_bar_updates_frequency">
      <title>Fréquence (sec)</title>
      <p>Ce bouton compteur détermine la fréquence à laquelle les mises à jour sont annoncées.</p>
      <p>Valeur par défaut : 10</p>
    </section>
    <section id="progress_bar_updates_restrict">
      <title>S’applique à</title>
      <p>Cette liste déroulante vous permet de choisir quelles barres de progression sont prononcées, en supposant que l’annonce de la mise à jour des barres de progression soit activée. Les choix possibles sont : <gui>Toutes</gui>, <gui>Application</gui> et <gui>Fenêtre</gui>.</p>
      <p>Quand vous choisissez <gui>Toutes</gui>, <app>Orca</app> prononce les mises à jour de toutes les barres de progression, quel que soit leur emplacement.</p>
      <p>Quand vous choisissez <gui>Application</gui>, <app>Orca</app> prononce les mises à jour des barres de progression de l’application active, même si elles ne sont pas dans la fenêtre active.</p>
      <p>Quand vous choisissez <gui>Fenêtre</gui>, <app>Orca</app> prononce les mises à jour uniquement pour les barres de progression de la fenêtre active.</p>
      <p>Valeur par défaut : <gui>Application</gui></p>
    </section>
  </section>
</page>
